<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Samasya 2k18</title>

    <script src="static/js/jquery_c.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="static/js/inside.js" ></script>
    <script src="static/js/main.js" ></script>
    <script src="static/js/gif.js"></script>
    <script src="static/js/gen.js"></script>
    <script src="static/js/aud.js" ></script>
    <script src="static/js/ran.js"></script>
    <script src="static/js/re.js"></script>
    <script src="static/js/proto_1mod.js"></script> 
    
    
    

    <link href="https://fonts.googleapis.com/css?family=Merriweather|Niramit|Roboto+Slab|Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="static/css/proto_1.css">      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="static/icons/quiz.ico" type="image/x-icon">
    <link rel="icon" href="static/icons/quiz.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/trail.css">

</head>



<body>
    <div class="gif"></div>
    <h1 id="mainh">Please enable javascript to continue!!!</h1>
    <div id="mainbody">
        <div class="container_1">

            <header class="header">
                <div class="overlay">
                    <h1>SAMASYA<span style="color: #2d8659;font-size: 120%;font-family: 'Roboto Condensed', sans-serif;">&nbsp;2.0</span></h1>
                    <br>
                </div>
            </header>

            <div id="sep">
                <h1 id="status">


                </h1>
            </div>
            <div id="cover">


                <audio id="player"></audio>

                <div id="imgcl">
                    <span id="s1">
                        <div id="play" > 
                            <img src="static/icons/f4.png">
                        </div>
                    </span>

                    <span id="s2">
                        <div class="clock flip-clock-wrapper" style="margin:2em;">


                        </div>
                    </span>
                </div>
                <article class="main"> <div class="outcon">


                    <div class="panel"><form method="get">
                        <div class="pi">
                            <p class="p">1) Who is the Iron man of India?</p>

                        </div>
                        <div class="incon">
                            <ul class="ul">
                                <li >
                                    <div class="l1">
                                        <label title="">

                                            <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Mahatma Gandhi</p>





                                        </label>
                                    </div>

                                </li>
                                <li >
                                    <div class="l1">
                                        <label title="">
                                            <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Rabrindranath Tagore</p>





                                        </label>
                                    </div>

                                </li>
                                <li >
                                    <div class="l1">
                                        <label title="">
                                            <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Subhash Chandra Bose</p>





                                        </label>
                                    </div>

                                </li>
                                <li >
                                    <div class="l1">
                                        <label title="">
                                            <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Sardar Vallabhai Patel</p>





                                        </label>
                                    </div>

                                </li>


                            </ul>
                        </div>
                    </form>
                </div>


                <div class="panel"><form method="get">
                    <div class="pi">
                        <p class="p">2) The train that connects capital city of a state with its major cities? </p>

                    </div>
                    <div class="incon">
                        <ul class="ul">
                            <li >
                                <div class="l1">
                                    <label title="">

                                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Rajdhani Express</p>





                                    </label>
                                </div>

                            </li>
                            <li >
                                <div class="l1">
                                    <label title="">
                                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Jan Shadabti Express</p>





                                    </label>
                                </div>

                            </li>
                            <li >
                                <div class="l1">
                                    <label title="">
                                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Pan India Express</p>





                                    </label>
                                </div>

                            </li>
                            <li >
                                <div class="l1">
                                    <label title="">
                                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Lakshmi Express</p>





                                    </label>
                                </div>

                            </li>


                        </ul>
                    </div>
                </form>
            </div>



            <div class="panel"><form method="get">
                <div class="pi">
                    <p class="p">3) Which of these is a subbrand of oppo? </p>

                </div>
                <div class="incon">
                    <ul class="ul">
                        <li >
                            <div class="l1">
                                <label title="">

                                    <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Realme</p>





                                </label>
                            </div>

                        </li>
                        <li >
                            <div class="l1">
                                <label title="">
                                    <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Redmi</p>





                                </label>
                            </div>

                        </li>
                        <li >
                            <div class="l1">
                                <label title="">
                                    <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Honor</p>





                                </label>
                            </div>

                        </li>
                        <li >
                            <div class="l1">
                                <label title="">
                                    <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Infinix</p>





                                </label>
                            </div>

                        </li>


                    </ul>
                </div>
            </form>
        </div>


        <div class="panel"><form method="get">
            <div class="pi">
                <p class="p">4) Which is the Pink city of India? </p>

            </div>
            <div class="incon">
                <ul class="ul">
                    <li >
                        <div class="l1">
                            <label title="">

                                <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Udaipur</p>





                            </label>
                        </div>

                    </li>
                    <li >
                        <div class="l1">
                            <label title="">
                                <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Jodhpur</p>





                            </label>
                        </div>

                    </li>
                    <li >
                        <div class="l1">
                            <label title="">
                                <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Jaipur</p>





                            </label>
                        </div>

                    </li>
                    <li >
                        <div class="l1">
                            <label title="">
                                <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Raipur</p>





                            </label>
                        </div>

                    </li>


                </ul>
            </div>
        </form>
    </div>



    <div class="panel"><form method="get">
        <div class="pi">
            <p class="p">5) Which of these is not connected to Elon Musk? </p>

        </div>
        <div class="incon">
            <ul class="ul">
                <li >
                    <div class="l1">
                        <label title="">

                            <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;SpaceX</p>





                        </label>
                    </div>

                </li>
                <li >
                    <div class="l1">
                        <label title="">
                            <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;The Boring Company</p>





                        </label>
                    </div>

                </li>
                <li >
                    <div class="l1">
                        <label title="">
                            <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Solarcity</p>





                        </label>
                    </div>

                </li>
                <li >
                    <div class="l1">
                        <label title="">
                            <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Blue Origin</p>





                        </label>
                    </div>

                </li>


            </ul>
        </div>
    </form>
</div>





<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">6) The first Indian newspaper was? </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;The Bengal Gazette</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Hindustan Times</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Dainik Baskar</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Chennai Daily</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>






<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">7) The word algebra ,algorithm etc were derived from which language? </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Sanskrit</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Persian</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Arabic</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Spanish</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>






<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">8) Although its logo looks like H,it is two people shaking hands which company? </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Husqvarna</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Hyundai</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Hero Motocorp</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Havells</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>






<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">9) According to Starload in Avengers Infinity War ,which is the greatest movie of all time? </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Wizard of Oz</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Footloose</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Casablanca</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Citizen Kane</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>






<div class="panel"><form method="get">
    <div class="pi">
        <p class="p">10) Tame is the flag carrier of which country?  </p>

    </div>
    <div class="incon">
        <ul class="ul">
            <li >
                <div class="l1">
                    <label title="">

                        <p><input type="radio" name="answer" value="1" >&nbsp;&nbsp;&nbsp;&nbsp;Bhutan</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="2" >&nbsp;&nbsp;&nbsp;&nbsp;Myanmar</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="3" >&nbsp;&nbsp;&nbsp;&nbsp;Ecuador</p>





                    </label>
                </div>

            </li>
            <li >
                <div class="l1">
                    <label title="">
                        <p><input type="radio" name="answer" value="4">&nbsp;&nbsp;&nbsp;&nbsp;Tanzania</p>





                    </label>
                </div>

            </li>


        </ul>
    </div>
</form>
</div>







































</div></article>

</div>
<!-- Change count value -->
<footer class="footer">
    &nbsp;<span id="councon">Live: <span id="count" style="color:#3333ff"></span></span>
</footer>
</div>
</div>
</body>
</html>

